.Landing > h2 {
  color: #5ccfe6;
  text-align: center;
}

.landing-p {
  color: #bae67e;
}

.landing-p > a {
  color: #95e6cb;
  font-style: italic;
}

.test,
.please-login {
  color: #cbccc6;
  text-align: center;
}

.please-login,
.test-text {
  font-style: italic;
}

.demo {
  color: #ffd580;
}

.test {
  margin-top: 50px;
}
