.App {
  color: #cbccc6;
  min-width: 320px;
}

.App__main {
  padding: 30px 50px;
}

code {
  color: #ffd580;
}

a {
  text-decoration: none;
}

.error {
  color: #ff3333;
  font-style: italic;
}

@media screen and (min-width: 400px) {
  .App__main,
  .Header {
    width: 90%;
    margin: 0 auto;
  }
  input {
    width: 250px;
  }
}

@media screen and (min-width: 600px) {
  .App__main,
  .Header {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 800px) {
  .App__main,
  .Header {
    width: 75%;
  }
}

@media screen and (min-width: 900px) {
  .App__main,
  .Header {
    width: 60%;
  }
}
