.App {
  display: flex;
  justify-content: space-between;
  color: #5ccfe6;
  /* font-family: monospace;
  font-size: 12px; */
}

.App__projects {
  width: 300px;
  margin-top: 100px;
  padding-right: 25px;
}

.App__main {
  width: 100%;
}

code {
  color: #ffcc66;
}

button {
  padding: 10px;
  background-color: #cbccc6;
  margin-top: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

/* accent: _('FFCC66'),
  bg: _('1F2430'),
  fg: _('CBCCC6'),
  ui: _('707A8C')

  tag: _('5CCFE6'),
  func: _('FFD580'),
  entity: _('73D0FF'),
  string: _('BAE67E'),
  regexp: _('95E6CB'),
  markup: _('F28779'),
  keyword: _('FFA759'),
  special: _('FFE6B3'),
  comment: _('5C6773'),
  constant: _('D4BFFF'),
  operator: _('F29E74'),
  error: _('FF3333')

  added: _('A6CC70'),
  modified: _('77A8D9'),
  removed: _('F27983') */
