.ProjectList__add-button {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.ProjectList__add-button > a,
.ProjectList__add-button > a:visited {
  text-decoration: none;
  color: #1f2430;
  font-size: 14px;
}

ul {
  list-style: none;
  text-align: center;
  margin: 0;
}

.ProjectList__project-link {
  color: #bae67e;
}

li {
  margin-top: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.active {
  background-color: #cbccc6;
  color: #1f2430;
}
