.ProjectList__add-button {
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #cbccc6;
  color: #1f2430;
  font-size: 12px;
  width: 120px;
  /* white-space: nowrap; */
}

.ProjectList {
  text-align: center;
}

select {
  margin-bottom: 20px;
}
