add-button {
  display: block;
  color: #1f2430;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  text-align: right;
  margin: 0;
}

.ProjectList__project-link {
  color: #bae67e;
}

li {
  margin-top: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.active {
  background-color: #cbccc6;
  color: #1f2430;
}
