.AddSnippet * > button {
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
}

.AddSnippet > h2 {
  color: #5ccfe6;
  text-align: center;
}

input,
textarea {
  width: 100%;
  font-size: 16px;
}

textarea {
  height: 200px;
}

.buttons {
  text-align: center;
}

.AddSnippet * > button[type='submit'] {
  background-color: #ffa759;
  border-color: #ffa759;
}
