.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  min-width: 500px;
}

.Header a {
  color: #444;
  text-decoration: none;
}

.Header__not-logged-in a {
  padding: 10px;
}

.super {
  color: #ffa759;
}

.snippets {
  color: #f28779;
}
