.Header {
  text-align: center;
}

.Header__not-logged-in > a,
.Header__logged-in > a {
  color: #d4bfff;
}

.Header__not-logged-in > a {
  padding: 10px;
}

.super {
  color: #ffa759;
}

.snippets {
  color: #f28779;
}

.brackets {
  color: #cbccc6;
  font-size: 36px;
}
