.Snippet__info {
  color: #cbccc6;
}

.code {
  margin-bottom: 20px;
  white-space: pre-wrap;
}

.button-flex {
  text-align: center;
}

.button-flex > button {
  margin: 10px;
  padding: 5px;
}

.button-detail-delete {
  background-color: #ff3333;
  border-color: #ff3333;
}

.button-detail-play {
  background-color: #bae67e;
  border-color: #bae67e;
}

.button-detail-edit {
  background-color: #cbccc6;
  border-color: #cbccc6;
}

.button-detail-back {
  background-color: #cbccc6;
  border-color: #cbccc6;
}
